{% extends 'base.html.twig' %}
{% block title %}Termes et Conditions{% endblock %}

{% block body %}
   <button onclick="self.close()"> Fermer</button>
   <h1>Termes et conditions</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda perferendis officiis quo numquam voluptatum nisi quia alias voluptas expedita nihil, eum aliquam. Voluptatem maxime sed ratione omnis! Necessitatibus, laboriosam.
   Iusto dolores deleniti vero veritatis numquam consequatur iste, tempora obcaecati nihil autem. Suscipit, officiis nemo impedit veniam quaerat consequuntur, facere praesentium saepe accusamus totam laborum sit! Reprehenderit itaque magni tempora!
   Tempore doloribus est velit adipisci, aliquam, iste, fuga ad cumque deleniti temporibus voluptatibus quo. Rerum vitae distinctio explicabo pariatur, amet minus sequi, id et libero vel tempora numquam, soluta praesentium.
   Perspiciatis sit minima vero nostrum sed recusandae laudantium, blanditiis mollitia magnam doloremque sequi ut aperiam cumque, rem error deserunt ipsum expedita reiciendis iusto? Dolores, laborum sit velit nemo temporibus similique!
   Temporibus, voluptatem, soluta eligendi id repellat voluptatum tempora aut enim veniam dolores totam consequatur modi vel recusandae praesentium qui hic suscipit molestias laudantium eveniet adipisci! Asperiores quia quod facere labore?</p>   
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda perferendis officiis quo numquam voluptatum nisi quia alias voluptas expedita nihil, eum aliquam. Voluptatem maxime sed ratione omnis! Necessitatibus, laboriosam.
   Iusto dolores deleniti vero veritatis numquam consequatur iste, tempora obcaecati nihil autem. Suscipit, officiis nemo impedit veniam quaerat consequuntur, facere praesentium saepe accusamus totam laborum sit! Reprehenderit itaque magni tempora!
   Tempore doloribus est velit adipisci, aliquam, iste, fuga ad cumque deleniti temporibus voluptatibus quo. Rerum vitae distinctio explicabo pariatur, amet minus sequi, id et libero vel tempora numquam, soluta praesentium.
   Perspiciatis sit minima vero nostrum sed recusandae laudantium, blanditiis mollitia magnam doloremque sequi ut aperiam cumque, rem error deserunt ipsum expedita reiciendis iusto? Dolores, laborum sit velit nemo temporibus similique!
   Temporibus, voluptatem, soluta eligendi id repellat voluptatum tempora aut enim veniam dolores totam consequatur modi vel recusandae praesentium qui hic suscipit molestias laudantium eveniet adipisci! Asperiores quia quod facere labore?</p>   
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores assumenda perferendis officiis quo numquam voluptatum nisi quia alias voluptas expedita nihil, eum aliquam. Voluptatem maxime sed ratione omnis! Necessitatibus, laboriosam.
   Iusto dolores deleniti vero veritatis numquam consequatur iste, tempora obcaecati nihil autem. Suscipit, officiis nemo impedit veniam quaerat consequuntur, facere praesentium saepe accusamus totam laborum sit! Reprehenderit itaque magni tempora!
   Tempore doloribus est velit adipisci, aliquam, iste, fuga ad cumque deleniti temporibus voluptatibus quo. Rerum vitae distinctio explicabo pariatur, amet minus sequi, id et libero vel tempora numquam, soluta praesentium.
   Perspiciatis sit minima vero nostrum sed recusandae laudantium, blanditiis mollitia magnam doloremque sequi ut aperiam cumque, rem error deserunt ipsum expedita reiciendis iusto? Dolores, laborum sit velit nemo temporibus similique!
   Temporibus, voluptatem, soluta eligendi id repellat voluptatum tempora aut enim veniam dolores totam consequatur modi vel recusandae praesentium qui hic suscipit molestias laudantium eveniet adipisci! Asperiores quia quod facere labore?</p>   
   <button onclick="self.close()"> Fermer</button>

{% endblock %}
