{{form_start(form)}}
    <div id="form-product">
    {{form_widget(form)}}
    </div>
    <br>
    <button type="submit">{{submit_button_label ?? 'Ajouter un produit'}}</button>
{{form_end(form)}}
<img src="" alt="">