{% extends 'base.html.twig' %}

{% block title category.name %}

{% block body %}
   <h1>{{category.name}}</h1>

    <table id="table">
        <thead>
            <th>Nom</th>
        </thead>
        <tbody>
{% for product in category.products %}
        <tr>
            <td><a href="{{path('product_show', {'id': product.id})}} ">{{product.name}}</a></td>
        </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}
