{% extends 'base.html.twig' %}

{% block title 'Nouvelle catégorie' %}

{% block body %}
    <h1>Ajouter une catégorie</h1>

    {% include "manage/category/_form.html.twig" %}

    <p><a href="{{path('manage_index')}}">Retour</a></p>
    
{% endblock %}