{% for message in app.flashes('success') %}
    <div class="alert-success">
        {{message}}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert-error">
        {{message}}
    </div>
{% endfor %}

{% for message in app.flashes('notice') %}
    <div class="alert-notice">
        {{message}}
    </div>
{% endfor %}