{% extends 'base.html.twig' %}

{% block title 'Nouveau Lieu de stockage' %}

{% block body %}
    <h1>Nouveau lieu de stockage</h1>
    
    <turbo-frame id="new_storage" target="_top">
        {% include "manage/storage/_form.html.twig" %}
    </turbo-frame>

    <p><a href="{{path('manage_index')}}"><i class="fas fa-arrow-left"></i></a></p>
    
{% endblock %}